<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585426303668-44p8oo0v3pf9a440g884rlikolekvqd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585426303668-44p8oo0v3pf9a440g884rlikolekvqd9</string>
	<key>API_KEY</key>
	<string>AIzaSyBZKk0HXRgsvaPFQgJcvjc0uexMi86VleE</string>
	<key>GCM_SENDER_ID</key>
	<string>585426303668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.mvillalba.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a7212</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a7212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585426303668:ios:658d96e5e02d91e1cbb5e1</string>
</dict>
</plist>